# 依赖
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 构建产物
dist
build

# 编辑器
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# 测试
coverage
.nyc_output

# 其他
.env
.env.local
.env.*.local
*.log
